
@charset="UTF-8";
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {margin: 0;padding: 0;}
body {
    font-family: "Microsoft YaHei";
    color:#333;
    font-size: 62.5%;
}
p{font-size: 1rem;}
h4{font-size: 1.2rem;}
h3{font-size: 1.4rem;}
ul{ list-style: none;}
a {text-decoration: none;color: #333333;}
a:hover{color: none;text-decoration: none;}

header{box-shadow: 0px 0px 8px #aaa;}
.container,.business,.about .about_test,.variety,.news_test,.footer .footer_test{max-width: 1200px;margin: 0 auto;overflow: hidden;}
.navFlex {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-content: center;
    color: white;
}

.container .show{
    display: inline-block; 
}
.container .hiden{
    display: none;
}

.btnImg{border: 1px solid transparent;background: #076ce000;border-radius: 6px;width: 30px;height: 25px;padding: 6px;}
.icon-bar{display: block;width: 30px;height: 5px;border-radius: 1px;background: #066be1;transition: 0.5s;-webkit-transition: 0.5s;/* text-align: center; */margin: 0 auto;}
.icon-bar + .icon-bar {margin-top: 4px;}
.btnImg.opened span:nth-of-type(1) {
    transform: translate(0px, 9px) rotate(-45deg) scalex(1.3);
    -webkit-transform: translate(0px, 9px) rotate(-45deg) scalex(1.3);
    margin-bottom: 0;
}
.btnImg.opened span:nth-of-type(2) {
    display: none;
}
.btnImg.opened span:nth-last-of-type(1) {
    -webkit-transform: translate(0px, 1px) rotate(45deg) scalex(1.3);
    transform: translate(0px, 1px) rotate(45deg) scalex(1.3);
}
.btnImg.opened span{width: 25px;}
.logo {display: inline-block;}
.logo h4{color: rgb(7, 108, 224);font-size: 36px;}
.logo h4 font{color: rgb(204, 204, 204);margin-left: 10px;}
.nav ul li{display: inline-block;}
.nav ul li a{ padding: 10px 20px; text-align: center;display: block;color: #076ce0;line-height: 50px;font-size: 20px;border-top: 3px solid #fff0;}
.nav ul li a:hover{border-top: 3px solid #fad354;box-sizing: border-box;}


.banner img{margin: 0 auto;width: 100%;text-align: center;}
.app-img{display: none;}
.pc-img{display: block;}
.business{margin-bottom: 50px;}


.item{position: relative;background: #f5f5f5;padding: 30px 0;margin: 10px;}

.bu_all .bu_item{
    
    text-align: center;
    width: 25%;
    float: left;
}
.bu_all .item h4 {
    font-weight: bold;
    color: #333;
    font-size: 1rem;
    font-weight: normal;
}

.bu_all .item img {
    border-radius: 50%;
    width: 60%;
    margin: auto;
}

.bu_all .item  h3 {
    width: 20%;
    height: 20%;
    background: rgba(1, 1, 1, 0.8);
    top: 40%;
    left: 40%;
    position: absolute;
    margin: 0px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s;
}
.bu_all .item h3 p{width:80%;margin:40% auto;overflow: hidden;height:auto;font-size: 14px;line-height: 20px;}
.bu_all .item:hover h3{width:100%;height: 100%;top:0px;left:0px;opacity: 1;}

.title{padding: 50px 0 20px;padding-bottom: 5px;margin-bottom: 20px;border-bottom: 1px dashed #999;}
.title h3{display: inline-block;color: rgb(7, 108, 224);}
.title h3 font{display: block;color: #999;}
.title a{float: right;font-size: 1rem;}

.about{background: #f5f5f5;}
.about .about_test{padding: 40px 0;}
.about_left{float: left;width: 50%;margin-right: 30px;overflow: hidden;}
.about_left img{width: 100%;}
.about_left img:hover{transition: all .3s;transform: scale(1.1);}
.about_right .text span p{line-height: 28px;color: #666;margin-top: 15px;}
.about_right .text h3{color: #076ce0}

.variety{margin-top: 60px;margin-bottom: 30px;}
.variety .list{background: #f5f5f5;padding: 20px 0px;text-align: center;margin: 0 15px;border: 1px solid #e6e5e5;}
.variety ul li{float: left;width: 33.3%;}
.variety img{max-height: 60px;}
.variety span{text-align: center;display: inline-block;}
.variety span h4{position: relative;font-weight: normal;font-size: 1rem;}
.variety span h4::after{content: "";width: 42px;padding-top: 20px;position: absolute;top: 14px;left: 0;right: 0;margin: 0 auto;border-bottom: 3px solid rgb(7, 108, 224);}
.variety span p{margin-top: 24px;font-size: 14px;}

.news_text{overflow: hidden;margin-bottom: 50px;}
.news_list{width: 49%;display: inline-block;margin-bottom: 50px;}
.news_img{overflow: hidden;display: inline;}
.news_list img{max-width: 225px;float: left;}
.news_list:hover img{transition: all .3s;transform: scale(1.1);}
.news_list span{overflow: hidden;display: block; padding: 0px 15px; }
.news_list span h4{overflow: hidden;font-weight: normal;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.news_list span p{color: #666;font-size: 14px;margin-top: 10px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.news_list span font{margin-top: 20px;font-size: 14px;display: inline-block;}
.footer{background: #333;color: #999;padding: 30px 0;}
.footer .footer_test ul{overflow: hidden;}
.footer .footer_test ul li{float: left;width: 8%;}
.footer .footer_test ul li a{color: #999;font-size: 16px;}
.footer .footer_test p{margin-top: 15px;}

.to-top{position: fixed;bottom: 50px;right: 20px;}
.to-top a{display: none;}

 @media screen and (max-width:1200px){
    .container, .business, .about .about_test, .variety, .news_test, .footer .footer_test{padding-left: 15px;padding-right: 15px;}
    .footer .footer_test ul li {width: 12%;}
}

@media screen and (max-width:1041px){
    .variety span p {width: 241px;}
}

@media screen and (max-width:1024px){
    .news_list img {max-width: 50%;}
    .news_list span font {margin-top: 10px;}
    .news_list span p {-webkit-line-clamp: 2;}

}

@media screen and (max-width:992px){
    .news_list img {max-width: 40%;}
    .variety .list {height: 150px;}
    .nav ul li a{padding: 10px;}
}

@media screen and (max-width:845px){
    .variety span p {width: auto;}
    .variety span p.with {width: 176px;}
    .nav ul li a{font-size: 16px;}
}
@media screen and (max-width:768px){
    header{position: fixed;top:0;height: 60px;width: 100%;background: #fff;z-index: 1;}
    .banner{margin-top: 60px;}
    .container .nav{position: fixed;top: 60px;right: 0;left: 0;margin: 0 auto;background: rgb(7, 108, 224);}
    .nav ul li a{color: #fff;padding: 0px 10px;border-top: none;}
    .nav ul li a:hover {border-top: none;}
    .navFlex{flex-wrap:wrap;font-size: 20px;justify-content: space-between; padding: 10px 15px;}
    .container .hiden{display: block;}
    .container .show{width: 100%;display: none;}
    .nav ul li {display: block;}
    .news_list {width: 100%;}
    .news_list img {max-width: 25%;}
    .news_list {margin-bottom: 30px;}
    .news_list span{padding-right: 0;}
    .footer .footer_test ul li {width: 15%;}
    .pc-img{display: none;}
    .app-img{display: block;}
    .bu_all .bu_item{width: 50%;}
}
@media screen and (max-width:576px){
    .news_list img {max-width: 40%;}
    .footer .footer_test ul li {width: 20%;}
    .news_text{margin-bottom: 20px;}
    .variety .list {margin: 0 5px;}
    .variety span p.with {width: auto;}
    .variety span p{font-size: 12px;}
}

@media screen and (max-width:414px){
    .logo h4 {font-size: 30px;}
}

@media screen and (max-width:360px){
    p{font-size: 0.8rem;}
    h4{font-size: 1rem;}
    h3{font-size: 1.2rem;}
    .about_right .text span p {line-height: 23px;}
    .footer .footer_test ul li a {font-size: 12px;}
    .news_list span p {margin-top: 3px;}
    .news_list span font {margin-top: 5px;}
    .news_list span {padding-left: 10px;}
    .logo h4 {font-size: 26px;}

}
